# Fichiers/Dossiers spécifiques à Python et Django
__pycache__/
*.py[cod]

# Fichiers d’environnement
.env

# Fichiers et dossiers spécifiques à l'IDE
.vscode/
.idea/

# Dossiers de virtualenv
venv/
env/
