header {
    width: 100%;
    height: 60px;
    position: fixed;
    align-items: baseline;
    justify-content: space-between;
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    box-shadow: 0 0 8px black;
    background-color: white;
    
}
header .logo {
    display: flex;
    margin-left: 30px;
}
header .logo span {
    font-weight: 900;
    font-size: 1.6em;
    margin-left: 5px;
    padding-top: 3px;
    color:rgb(11, 84, 68);
}
header  img {
    width: 2em;
    height: 2em;
}
header .menu {
    display: flex;
}
header .menu li {
    list-style: none;
    margin-right: 2em;
    width: 2em;
    height: 2em;
}
header .menu li:hover {
    width: 2em;
    height: 2em;
}
header .menu li a img:hover {
    width: 2.2em;
    height: 2.1em;
    position: absolute;
}
.nav-hosto {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 8em;
}
.nav-hosto img {
    width: 450px;
    height: 450px;
     border-radius: 25px;
}
.nav-hosto aside {
    width: 500px;
    margin-top: 9em;
}
.nav-hosto aside h2 strong{
    color:rgb(11, 84, 68);
    font-weight: 900;
}
.nav-hosto aside h2 {
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(11, 84, 68);
    font-weight: 900;
}
.nav-hosto aside span {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-hosto aside div {
    margin-top: 0.8em;
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-hosto aside a {
    text-decoration: none;
    font-size: 12px;
    background-color: rgb(11, 84, 68);
    padding: 10px 100px;
    color: white;
    border-radius: 35px;
}
.nav-hosto aside a:hover {
    letter-spacing: 1px;
}
.nav-hosto-prompt{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10em;
}
.nav-hosto-prompt aside{
    width: 450px;
    margin-left: 1em;
    margin-top: 0.5em;
}
.nav-hosto-prompt aside h2{
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(11, 84, 68);
    font-weight: 900;
}
.nav-hosto-prompt aside span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.nav-hosto-prompt img {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
.nav-hosto-prompt div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.nav-hosto-prompt div a{
    font-size: 14px;
    padding: 10px 80px;
    text-decoration: none;
    color: white;
    background-color:rgb(11, 84, 68);
    border-radius:10px ;
}
.nav-hosto-prompt div a:hover {
    letter-spacing: 1px;
}
.nav-hosto-interne{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10em;
}
.nav-hosto-interne aside{
    width: 450px;
    margin-left: 1em;
    margin-top: 2em;
}
.nav-hosto-interne aside h2{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(11, 84, 68);
    font-weight: 900;
    line-height: 24px;
}
.nav-hosto-interne aside span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.nav-hosto-interne img {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
.nav-hosto-interne div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.nav-hosto-interne div a{
    font-size: 14px;
    padding: 10px 80px;
    text-decoration: none;
    color: white;
    background-color: rgb(11, 84, 68);
    border-radius:10px ;
}
.nav-hosto-interne div a:hover {
    letter-spacing: 1px;
}


.nav-hosto-operation{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10em;
}
.nav-hosto-operation aside{
    width: 450px;
    margin-left: 1em;
    margin-top: 2em;
}
.nav-hosto-operation aside h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(11, 84, 68);
    font-weight: 900;
    line-height: 24px;
}
.nav-hosto-operation aside span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.nav-hosto-operation img {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
.nav-hosto-operation div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.nav-hosto-operation div a{
    font-size: 14px;
    padding: 10px 80px;
    text-decoration: none;
    color: white;
    background-color:rgb(11, 84, 68);
    border-radius:10px ;
}
.nav-hosto-operation div a:hover {
    letter-spacing: 1px;
}
.nav-hosto-pharma{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10em;
}
.nav-hosto-pharma aside{
    width: 450px;
    margin-left: 1em;
    margin-top: 2em;
}
.nav-hosto-pharma aside h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(11, 84, 68);
    font-weight: 900;
    line-height: 24px;
}
.nav-hosto-pharma aside span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.nav-hosto-pharma img {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
.nav-hosto-pharma div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.nav-hosto-pharma div a{
    font-size: 14px;
    padding: 10px 80px;
    text-decoration: none;
    color: white;
    background-color:rgb(11, 84, 68);
    border-radius:10px ;
}
.nav-hosto-pharma div a:hover {
    letter-spacing: 1px;
}


.nav-hosto-pharma img {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
.nav-hosto-pharma div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
footer {
    display:grid;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    place-items: center;
    justify-content: center;
    margin-top: 15em;
}
.footer-li {
    display: flex;
}
.footer-li a {
    margin-right: 2em;
    width: 1.5em;

    height: 1.5em;
}
.footer-li a img:hover {
    width: 1.8em;
    height: 1.8em;
}
footer li {
    list-style: none;
}
footer li img {
    width: 1.5em;
    height: 1.5em;
}
footer .div-infos {
    display: flex;
    justify-content: center;
    
}
footer .div-infos li {
    margin-right: 1em;
    width: 300px;
}
footer .div-infos span {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
footer .div-infos h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    color:rgb(11, 84, 68);
}
#pharma{
    display: none;
}
#interne{
    display: none;
}
#hosto{
    display: none;
}
.item{
    opacity:0;
    transition: 0.5s ease;
}
 .visible{
    opacity:1
}
::-webkit-scrollbar-thumb{
    background-color: rgb(11, 84, 68);
    border-radius: 35px;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 35px;
}
::-webkit-progress-value{
    background-color:rgb(11, 84, 68);
}
::-moz-progress-bar{
    background-color:rgb(11, 84, 68);
}
@media(max-width:946px){
    header .logo {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        align-content: baseline;
    }
    header .menu li {
        margin-right: 5px;
    }
    .menu li a img{
        width: 0.8em;
        height: 0.8em;
    }
    .item{
        width: auto;
    }
    #pharma1{
        display: none;
    }
    #interne1{
        display: none;
    }
    #hosto1{
        display: none;
    }
    #pharma{
        display: block;
        width:  350px;
        height: 200px;
    }
    #interne{
        display: block;
        width: 350px;
        height: 200px;
    }
    #hosto{
        display: block;
        width:  350px;
        height: 300px;
    }
    .nav-hosto{
        height: 250px;
        display: grid;
        place-items: center;
    }
    .nav-hosto aside {
        width: auto;
    }
    .nav-hosto-interne aside {
        width: auto;
    }
    .nav-hosto-interne{
        display: grid;
        place-items: center;
        width: auto;
    }
    .nav-hosto-operation{
        width: auto;
        display: grid;
        place-items: center;
    }
    .nav-hosto-operation img{
        width: 350px;
        height: 200px;
    }

    .nav-hosto-operation aside {
        width: auto;
    }
    .nav-hosto-operation aside h2{
        display: flex;
        justify-content: center;
    }
    .nav-hosto-pharma{
        display: grid;
        place-items: center;
        width: auto;
    }
    .nav-hosto-pharma aside{
        width: auto;
    }
    .nav-hosto-pharma aside h2 {
        display: flex;
        justify-content: center;
    }
    .nav-hosto-prompt{
        place-items: center;
        display: grid;
        margin-top: 32em;
        width: auto;
        
    }
    .nav-hosto-prompt aside {
        width: auto;
    }
    .nav-hosto-prompt img {
        width: 350px;
        height: 200px;
    }
    footer .div-infos{
        width: auto;
    }
    footer .div-infos li span {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    footer .div-infos li h2 {
        font-size: 15px;
    }
    footer .div-infos li {
        width: 100px;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        align-content: baseline;
        width: auto;
    }
    
    .nav-hosto-prompt div a{
        font-size: 14px;
        padding: 10px 40px;
        text-decoration: none;
        color: white;
        background-color:rgb(11, 84, 68);
        border-radius:10px ;
    }
    .nav-hosto-interne div a{
        font-size: 14px;
        padding: 10px 40px;
        text-decoration: none;
        color: white;
        background-color:rgb(11, 84, 68);
        border-radius:10px ;
    }
    .nav-hosto-operation div a{
        font-size: 14px;
        padding: 10px 40px;
        text-decoration: none;
        color: white;
        background-color:rgb(11, 84, 68);
        border-radius:10px ;
    }
    .nav-hosto div a{
        font-size: 14px;
        padding: 10px 40px;
        text-decoration: none;
        color: white;
        background-color:rgb(11, 84, 68);
        border-radius:10px ;
    }
    .nav-hosto-pharma div a{
        font-size: 14px;
        padding: 10px 40px;
        text-decoration: none;
        color: white;
        background-color:rgb(11, 84, 68);
        border-radius:10px ;
    }
    header .logo{
        width: auto;
        margin-left: 5px;
    }
    header .logo span {
        font-size: 10px;
    }

    header .menu{
        width: auto;
    }
    footer .div-infos  {
        width: 50px;
    }
    #footer .div-infos li {
        font-size: 5px;
    }
}


@media (min-width:964px){
    footer .div-infos li {
        width: 200px;
    }
}
